<section class="about _pt70 _pb70" id="about">
    <div class="container" >
        <div class="row">
            <div class="col-lg-6">
                <h2 class="title-section-1">Sobre o <span>Motel</span></h2>
                <p class="text-about text-justify">
                    Para os que gostam de curtir momentos agradáveis, este é o lugar certo! O Fiesta Motel tem um conjunto de lazer formado por diversos recursos para trazer uma experiência única de entretenimento a dois.
<br><br>
                    Como um motel cinco estrelas, oferecemos uma composição de cores clean, mas sem perder o fetiche que um motel precisa ter. Nossas suítes são aconchegantes e decoradas com elementos modernos e diferentes, tudo com muito bom gosto.

<br><br>
                    Venha aproveitar bons momentos aqui, você vai se surpreender!
                </p>
            </div>

            <div class="col-lg-6">
                <div class="owl-carousel owl-theme owl-office">
                    <div class="item">
                        <img src="images/carousel.jpg" class="img-fluid img-office" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>