<section class="lead _pt70 _pb70" style="background-image: url('images/carousel.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="lead-content">
            <div>
                <h3 class="text-lead text-center">Receba promoções incriveis no seu email!</h3>
            </div>
            <div>
                <a href="#" class="btn btn-lead">Saiba Mais</a>
            </div>
        </div>
    </div>
</section>