<section class="services _pt70 _pb70" id="suites">
    <div class="container">
        <h2 class="title-section-1 text-center _pb15">
            Nossas <span>Suites</span>
        </h2>
        
        <div class="row">
            <div class="col-lg-4 _pt30">
                <div class="card-service">
                    <img src="https://www.guiademoteis.com.br/Images/moteis/2278-Ele-e-Ela-Motel/suites/12702-Provocante-34-Quarto-Vermelho/fotos/foto2-suites.jpg" alt="quarto x" class="bethroom-service">
                    <h3 class="title-card-service">
                        Suite Luxo
                    </h3>
                    <hr>
                    <p class="description-card-service  text-justify _pl30 _pr30">Essa Suite tem: <br>
                        ar-condicionado, Radio FM, USB Player, ducha, frigobar, garagem privada, TV LCD 32, 2 canais eroticos e WI-FI <br><br>
                        <b>Valor a partir de: R$49,00</b>
                    </p>
                    <a href="#" class="btn-card-services" data-toggle="modal" data-target=".bd-suite-luxo">Ver Mais!</a>
                </div>
            </div>

            <div class="col-lg-4 _pt30">
                <div class="card-service">
                    <img src="https://static.jornalrondoniavip.com.br/uploads/Noticia/2019/08/19/o_1dikosed812d61ufkv70m7mg56a.jpg" alt="quarto x" class="bethroom-service">
                    <h3 class="title-card-service">
                        Suite Super Luxo
                    </h3>
                    <hr>
                    <p class="description-card-service text-justify _pl30 _pr30">Essa Suite tem: <br>
                        ar-condicionado, Radio FM, USB Player, ducha, frigobar, garagem privada, TV LCD 32, TV A CABO, 3 canais eroticos, WI-FI e cadeira Erotica <br><br>
                        <b>Valor a partir de: R$59,00</b></p>
                    <a href="#" class="btn-card-services" data-toggle="modal" data-target=".bd-suite-super-luxo">Ver Mais!</a>
                </div>
            </div>            

            <div class="col-lg-4 _pt30">
                <div class="card-service">
                    <img src="http://www.motelparadies.com.br/arquivos_acomodacoes/fotos/1395710199_DSC_0689.JPG" alt="quarto x" class="bethroom-service">
                    <h3 class="title-card-service">
                        Suite Prime
                    </h3>
                    <hr>
                    <p class="description-card-service text-justify _pl30 _pr30">Essa Suite tem: <br>
                        ar-condicionado, Radio FM, USB Player, ducha, frigobar, garagem privada, TV LCD 32, TV a Cabo, 4 canais eroticos, WI-FI e jacuzzi <br><br>
                        <b>Valor a partir de: R$79,00</b> </p>
                    <a href="#" class="btn-card-services" data-toggle="modal" data-target=".bd-suite-prime">Ver Mais!</a>
                </div>
            </div>
        </div>

<div class="modal fade bd-suite-luxo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Suite Luxo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="owl-carousel owl-theme owl-office">
                <div class="item">
                    <img src="images/luxo1.jpg" class="img-fluid img-office" alt="Imagem da suite luxo">
                </div>
                <div class="item">
                    <img src="images/luxo2.jpg" class="img-fluid img-office" alt="Imagem da suite luxo">
                </div>
                <div class="item">
                    <img src="images/luxo3.jpg" class="img-fluid img-office" alt="Imagem da suite luxo">
                </div>
            </div>
            <h5 class="">Preços</h5>
            <div class="row">
                <div class="col">
                        <div class="card">
                            <div class="card-header">
                              1 Hora:
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p class="price-hours">R$49,00</p>
                              </blockquote>
                            </div>
                        </div>
                </div>
                <div class="col">
                        <div class="card">
                                <div class="card-header">
                                  2 Horas:
                                </div>
                                <div class="card-body">
                                  <blockquote class="blockquote mb-0">
                                    <p class="price-hours">R$69,00</p>
                                  </blockquote>
                                </div>
                            </div>                    
                </div>
                <div class="col">
                        <div class="card">
                                <div class="card-header">
                                  12 Horas:
                                </div>
                                <div class="card-body">
                                  <blockquote class="blockquote mb-0">
                                    <p class="price-hours">R$89,00</p>
                                  </blockquote>
                                </div>
                            </div>                    
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
    </div>
  </div>
</div>

<div class="modal fade bd-suite-super-luxo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="TituloModalCentralizado">Suite Luxo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="owl-carousel owl-theme owl-office">
                      <div class="item">
                          <img src="images/super1.jpg" class="img-fluid img-office" alt="Imagem da suite super luxo">
                      </div>
                      <div class="item">
                          <img src="images/super2.jpg" class="img-fluid img-office" alt="Imagem da suite super luxo">
                      </div>
                      <div class="item">
                          <img src="images/super3.jpg" class="img-fluid img-office" alt="Imagem da suite super luxo">
                      </div>
                  </div>
                  <h5 class="">Preços</h5>
                  <div class="row">
                      <div class="col">
                              <div class="card">
                                  <div class="card-header">
                                    1 Hora:
                                  </div>
                                  <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                      <p class="price-hours">R$69,00</p>
                                    </blockquote>
                                  </div>
                              </div>
                      </div>
                      <div class="col">
                              <div class="card">
                                      <div class="card-header">
                                        2 Horas:
                                      </div>
                                      <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                          <p class="price-hours">R$79,00</p>
                                        </blockquote>
                                      </div>
                                  </div>                    
                      </div>
                      <div class="col">
                              <div class="card">
                                      <div class="card-header">
                                        12 Horas:
                                      </div>
                                      <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                          <p class="price-hours">R$99,00</p>
                                        </blockquote>
                                      </div>
                                  </div>                    
                      </div>
                  </div>
      
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
          </div>
        </div>
</div>

<div class="modal fade bd-suite-prime" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="TituloModalCentralizado">Suite Luxo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="owl-carousel owl-theme owl-office">
                      <div class="item">
                          <img src="images/prime1.jpg" class="img-fluid img-office" alt="Imagem da suite prime">
                      </div>
                      <div class="item">
                          <img src="images/prime2.jpg" class="img-fluid img-office" alt="Imagem da suite prime">
                      </div>

                  </div>
                  <h5 class="">Preços</h5>
                  <div class="row">
                      <div class="col">
                              <div class="card">
                                  <div class="card-header">
                                    1 Hora:
                                  </div>
                                  <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                      <p class="price-hours">R$79,00</p>
                                    </blockquote>
                                  </div>
                              </div>
                      </div>
                      <div class="col">
                              <div class="card">
                                      <div class="card-header">
                                        2 Horas:
                                      </div>
                                      <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                          <p class="price-hours">R$99,00</p>
                                        </blockquote>
                                      </div>
                                  </div>                    
                      </div>
                      <div class="col">
                              <div class="card">
                                      <div class="card-header">
                                        12 Horas:
                                      </div>
                                      <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                          <p class="price-hours">R$109,00</p>
                                        </blockquote>
                                      </div>
                                  </div>                    
                      </div>
                  </div>
      
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
          </div>
        </div>
</div>

</div>
</section>