<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="vendors/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/owlcarousel/css/owl.theme.default.min.css">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap">

    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

    <!-- Sweet Alert -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>

    <!-- Helper CSS -->
    <link rel="stylesheet" href="/css/helper.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Fiesta Motel</title>
  </head>
  <body>
      <header class="main-header">
          <nav class="navbar navbar-expand-lg navbar-dark navbar-desk fixed-top">
              <div class="container">
                  <a class="navbar-brand" href="http://localhost:3000">FIESTA MOTEL</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-desk" aria-controls="navbar-desk" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  
                  <div class="collapse navbar-collapse" id="navbar-desk">
                      <ul class="navbar-nav nav-desk ml-auto">
                          <li class="nav-item active">
                              <a class="nav-link _mr20" href="#home">Inicio</a>
                          </li>
  
                          <li class="nav-item active">
                              <a class="nav-link _mr20" href="#suites">Suites</a>
                          </li>
  
                          <li class="nav-item active">
                              <a class="nav-link _mr20" href="#about">Sobre</a>
                          </li>
                          
                          <li class="nav-item active">
                            <a class="nav-link" href="#news">Noticias</a>
                          </li>

                          <li class="nav-item active">
                              <a class="nav-link" href="#contact">Contato</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
  
          <nav class="navbar navbar-expand-lg navbar-light navbar-mobile bg-light fixed-top">
              <div class="container">
                  <a class="navbar-brand" href="http://localhost:3000">Fiesta Motel</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile" aria-controls="navbar-mobile" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  
                  <div class="collapse navbar-collapse" id="navbar-mobile">
                      <ul class="navbar-nav nav-mobile ml-auto">
                          <li class="nav-item active">
                              <a class="nav-link" href="#about">Inicio</a>
                          </li>
  
                          <li class="nav-item active">
                              <a class="nav-link" href="#about">Suites</a>
                          </li>
  
                          <li class="nav-item active">
                              <a class="nav-link" href="#about">Sobre</a>
                          </li>

                          <li class="nav-item active">
                            <a class="nav-link" href="#news">Noticias</a>
                          </li>
  
                          <li class="nav-item active">
                              <a class="nav-link" href="#about">Contato</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
      </header>