<section class="contact _pt70 _pb70" id="contact">
    <div class="container">
        <h2 class="title-section-1 text-center _pb45">Entre em <span>contato</span></h2>
        <div class="row">
            <div class="col-lg-6">
                <form action="/enviar-mensagem" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control input-contact" id="inputNameCreate" name="name" placeholder="Nome">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control input-contact" id="inputEmailCreate" name="email" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control input-contact" id="inputTelephoneCreate" name="telephone" placeholder="Telefone">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control input-contact" id="inputSubjectCreate" name="subject" placeholder="Assunto">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control input-contact" id="inputMessageCreate" name="message" placeholder="Mensagem" cols="30" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button class="btn btn-contact">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6">
                <div class="map-contact">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14857.56825314007!2d-48.4855071!3d-21.4138293!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xea1a57eca0bcb0b7!2sFiesta%20Motel%20Taquaritinga!5e0!3m2!1spt-BR!2sbr!4v1573094021580!5m2!1spt-BR!2sbr" width="100%" height="320px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <div class="information-contact _pt20">
                    <a href="#" class="text-information">
                        <i class="fa fa-phone icon-information _pr5"></i>
                        (16) 3253-1431
                    </a>

                    <br/>

                    <a href="#" class="text-information">
                        <i class="fa fa-clock-o icon-information _pr5"></i>
                        Dom à Dom: <span>24:00 horas</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>